#mainHeroMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

#mainHeroContent {
    position: absolute;
    display: flex;
    height: 83vh;
    width: 83vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(204 157 139 / 29%);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-radius: 10px;
    box-shadow: 0px 0px 50px #00000070;
    a {
        width: 100%;
        text-align: center;
    }
}

.mainHeroMainBackground {
    height: 98vh;
    width: 98vw;
    background-image: url(../assets/main/heroBG.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px;
    border-radius: 10px;
}

.mainTitle {
    font-size: 5vw;
    font-family: 'Dancing Script', cursive !important;
    color: white;
    text-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.SBButton {
    padding: 1%;
    outline: solid 4px white;
    color: white;
    background-color: rgba(255, 255, 255, 0.48);
    font-family: 'Work Sans', sans-serif;
    border-radius: 66px;
    font-size: 1.5vw;
    width: 15%;
    cursor: pointer;
    transition: transform .3s, background-color .3s, box-shadow .8s, outline .3s;
    &:hover {
        transform: scale(103%);
        background-color: rgba(255, 255, 255, 0.573);
        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.234);
        @media (max-width: 1024px) {
            transform: scale(100%);
            background-color: rgba(255, 255, 255, 0.48);
            box-shadow: 0px 0px 0px;
        }
    }
    &:active {
        transform: scale(96.5%);
        background-color: rgba(255, 255, 255, 0.413);
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.334);
        outline: solid 4px rgb(212, 212, 212);
    }
}

.SBBUttonDark {
    outline: solid 2.5px rgb(0, 0, 0);
    color: black;
    background-color: rgba(184, 184, 184, 0.28);
    width: 27%;
    &:hover {
        background-color: rgba(0, 0, 0, 0.168);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.234);
        @media (max-width: 1024px) {
            background-color: rgba(184, 184, 184, 0.28);
            box-shadow: 0px 0px 0px;
        }
    }
    &:active {
        background-color: rgba(51, 51, 51, 0.413);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.334);
        outline: solid 2px rgb(0, 0, 0);
    }
}

@media (max-width: 1200px) and (min-width: 651px) {
    .mainTitle {
        font-size: 8vw;
    }
    .SBButton {
        font-size: 2.5vw;
        width: 18%;
    }
    .SBBUttonDark {
        width: 70%;
    }
}

@media (max-width: 650px) {
    .mainTitle {
        font-size: 10vw;
    }
    .SBButton {
        font-size: 3.5vw;
        width: 22%;
        outline: solid 2px white;
        &:active {
            outline: solid 2px rgb(212, 212, 212);
        }
    }
    .SBBUttonDark {
        width: 70%;
        outline: solid 2px black;
        &:active {
            outline: solid 2px rgb(0, 0, 0);
        }
    }
}

@media (max-width: 500px) {
    .mainTitle {
        font-size: 12vw;
        text-align: center;
    }
    .SBButton {
        font-size: 5.5vw;
        width: 33%;
        margin: 2%;
    }
    .SBBUttonDark {
        width: 67%;
    }
    
    .mainHeroMainBackground {
        width: 96vw;
    }
}
