@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.menu-icon {
  position: fixed;
  z-index: 101;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 10px 17px 17px;
  border-radius: 15px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}
.menu-icon .menu-icon__cheeckbox {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0;
}
.menu-icon div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 12px;
}
.menu-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}
.menu-icon span:first-of-type {
  top: 0;
}
.menu-icon span:last-of-type {
  bottom: 0;
}
.menu-icon.active span:first-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:first-of-type {
  transform: rotate(45deg);
  top: 5px;
}
.menu-icon.active span:last-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:last-of-type {
  transform: rotate(-45deg);
  bottom: 5px;
}
.menu-icon.active:hover span:first-of-type, .menu-icon.active:hover span:last-of-type, .menu-icon:hover .menu-icon__cheeckbox:checked + div span:first-of-type, .menu-icon:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
  width: 22px;
}
@media (min-width: 1024px) {
  .menu-icon:hover span:first-of-type {
    width: 26px;
  }
  .menu-icon:hover span:last-of-type {
    width: 12px;
  }
}

@media (max-width: 750px) {
  .menu-icon {
    margin: 2% !important;
  }
}
.menuBackground {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.203);
  background-color: rgba(0, 0, 0, 0.24);
}

/* handwritten font */
/* text font */
/* hero  section */
#mainHeroMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

#mainHeroContent {
  position: absolute;
  display: flex;
  height: 83vh;
  width: 83vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(204, 157, 139, 0.29);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4392156863);
}
#mainHeroContent a {
  width: 100%;
  text-align: center;
}

.mainHeroMainBackground {
  height: 98vh;
  width: 98vw;
  background-image: url(../assets/main/heroBG.jpg);
  background-size: cover;
  background-position: center;
  margin: 10px;
  border-radius: 10px;
}

.mainTitle {
  font-size: 5vw;
  font-family: "Dancing Script", cursive !important;
  color: white;
  text-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.SBButton {
  padding: 1%;
  border: solid 4px white;
  color: white;
  background-color: rgba(255, 255, 255, 0.48);
  font-family: "Work Sans", sans-serif;
  border-radius: 66px;
  transform: translateZ(0);
  font-size: 1.5vw;
  width: 15%;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.8s, border 0.3s;
}
.SBButton:hover {
  transform: scale(103%);
  background-color: rgba(255, 255, 255, 0.573);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.234);
}
@media (max-width: 1024px) {
  .SBButton:hover {
    transform: scale(100%);
    background-color: rgba(255, 255, 255, 0.48);
    box-shadow: 0px 0px 0px;
  }
}
.SBButton:active {
  transform: scale(96.5%);
  background-color: rgba(255, 255, 255, 0.413);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.334);
  border: solid 4px rgb(212, 212, 212);
}

.SBBUttonDark {
  border: solid 2px rgb(0, 0, 0);
  color: black;
  background-color: rgba(184, 184, 184, 0.28);
  width: 27%;
}
.SBBUttonDark:hover {
  background-color: rgba(0, 0, 0, 0.168);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.234);
}
@media (max-width: 1024px) {
  .SBBUttonDark:hover {
    background-color: rgba(184, 184, 184, 0.28);
    box-shadow: 0px 0px 0px;
  }
}
.SBBUttonDark:active {
  background-color: rgba(51, 51, 51, 0.413);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.334);
  border: solid 2px rgb(0, 0, 0);
}

@media (max-width: 1200px) and (min-width: 651px) {
  .mainTitle {
    font-size: 8vw;
  }
  .SBButton {
    font-size: 2.5vw;
    width: 18%;
  }
  .SBBUttonDark {
    width: 70%;
  }
}
@media (max-width: 650px) {
  .mainTitle {
    font-size: 10vw;
  }
  .SBButton {
    font-size: 3.5vw;
    width: 22%;
    border: solid 2px white;
  }
  .SBButton:active {
    border: solid 2px rgb(212, 212, 212);
  }
  .SBBUttonDark {
    width: 70%;
    border: solid 2px black;
  }
  .SBBUttonDark:active {
    border: solid 2px rgb(0, 0, 0);
  }
}
@media (max-width: 500px) {
  .mainTitle {
    font-size: 12vw;
    text-align: center;
  }
  .SBButton {
    font-size: 5.5vw;
    width: 33%;
    margin: 2%;
  }
  .SBBUttonDark {
    width: 67%;
  }
  .mainHeroMainBackground {
    width: 96vw;
  }
}
/* text  section */
.mainTextSection {
  display: flex;
  min-height: 35vh;
  align-items: center;
  padding: 1.5% 3%;
}
.mainTextSection:last-child {
  flex-direction: row-reverse;
}

.mainTxtText {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  position: relative;
  background-color: #fff;
  font-size: 1.4vw;
  margin-bottom: 5%;
}

.mainTextContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 55px;
}
.mainTextContainer a {
  text-align: start !important;
}

#mainTxt2 {
  position: relative !important;
  left: -56px !important;
  text-align: right !important;
}
#mainTxt2 a {
  text-align: right !important;
}

.mainTxtImg {
  border-radius: 10px;
}

@media (max-width: 1200px) and (min-width: 801px) {
  .mainTxtImg {
    width: 43vw;
  }
  .mainTxtText {
    font-size: 1.7vw;
  }
}
@media (max-width: 800px) and (min-width: 651px) {
  .mainTxtImg {
    width: 60vw;
  }
}
@media (max-width: 900px) {
  .mainTextSection {
    flex-direction: column-reverse !important;
    margin: 2%;
    min-height: 100vw;
    justify-content: flex-end;
  }
  .mainTextSection p, .mainTextSection #mainTxt2 {
    text-align: center !important;
    max-width: 100%;
    font-size: 3.5vw;
    left: 0 !important;
  }
  .mainTextSection p a, .mainTextSection #mainTxt2 a {
    text-align: center !important;
  }
  .mainTextSection .mainTextContainer {
    left: 0 !important;
  }
  .mainTextSection .mainTextContainer a {
    text-align: center !important;
  }
  .mainTxtImg {
    width: 70vw;
  }
}
@media (max-width: 500px) {
  .mainTextSection {
    height: 123vw;
  }
  .mainTextSection p, .mainTextSection #mainTxt2 {
    max-width: 100%;
    font-size: 3.5vw;
  }
  .mainTxtImg {
    width: 90vw;
  }
}
/* featured  section */
#featuredSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 3%;
  margin-top: 3%;
  background-image: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(168, 168, 168) 100%);
}
#featuredSection h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: normal;
  font-size: 2vw;
}

.allPaintingsButton {
  width: 100%;
  text-align: center;
}

.featuredImg {
  width: 22vw;
  height: 100%;
}

.fetaturedImageContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 1vw 0;
  align-items: center;
  align-content: center;
  color: black;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2135);
  border-radius: 10px;
  transition: transform 0.5s, outline 0.5s, box-shadow 0.5s;
}
.fetaturedImageContainer img {
  border-radius: 5px;
  margin: 5px;
}
.fetaturedImageContainer p {
  margin: 1%;
  text-align: center;
}
.fetaturedImageContainer:hover {
  transform: scale(102%);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.434);
}
@media (max-width: 1000px) {
  .fetaturedImageContainer:hover {
    transform: scale(100%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2135);
  }
}
.fetaturedImageContainer:active {
  transform: scale(99%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2135);
}

#featuredImagesSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 1000px) {
  #featuredSection h2 {
    font-size: 4vw;
  }
}
@media (max-width: 900px) {
  .featuredImg {
    width: 40vw !important;
  }
}
@media (max-width: 650px) {
  .featuredImg {
    width: 78vw !important;
  }
  #featuredSection h2 {
    font-size: 8vw;
  }
}
#contactInfoContent {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
}
#contactInfoContent img {
  width: 350px;
  margin: 1%;
}
#contactInfoContent div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 38vh;
  width: 90%;
}

#contactInfo {
  padding: 3%;
}
#contactInfo h1 {
  text-align: center;
  font-family: "Dancing Script", cursive !important;
  font-size: 3.5rem;
}

.headerFix {
  height: 1vh;
}

.form-floating .form-control {
  border: solid 1px black !important;
}
.form-floating label, .form-floating textarea {
  font-family: "Work Sans", sans-serif !important;
}

#submit {
  background-color: #fff;
  border: solid 2px black;
  color: black;
  font-weight: 500;
  font-family: "Work Sans", sans-serif !important;
}
#submit:hover {
  background-color: black;
  border: solid 2px white;
  color: white;
}

#menuBackground {
  position: fixed;
  z-index: 99;
  overflow: hidden;
  background-color: rgba(255, 184, 146, 0.518);
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  animation-name: backgroundStart;
  animation-duration: 0.8s;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 100vw;
}

#menuItems {
  display: flex;
  flex-direction: column;
  height: 75%;
  width: 25%;
  align-items: center;
  justify-content: center;
}
#menuItems a {
  font-size: 2.5vw;
  margin-bottom: 10vh;
  color: white;
  text-decoration: none !important;
}
#menuItems a:last-child {
  margin-bottom: 0;
}

@media (max-height: 600px) {
  #menuItems {
    flex-direction: row;
    width: 100%;
  }
  #menuItems a {
    margin-bottom: 0 !important;
    margin-right: 4vw !important;
    font-size: 3vw !important;
  }
  #menuItems a:last-of-type {
    margin-right: 0 !important;
  }
}
@media (max-width: 750px) {
  #menuItems {
    width: 50%;
  }
  #menuItemOption1 {
    font-size: 4.5vw !important;
    margin-bottom: 5vh !important;
  }
  #menuItemOption2 {
    font-size: 4.5vw !important;
    margin-bottom: 5vh !important;
  }
  #menuItemOption3 {
    font-size: 4.5vw !important;
    margin-bottom: 5vh !important;
  }
  #menuItemOption4 {
    font-size: 4.5vw !important;
    margin-bottom: 5vh !important;
  }
  #menuItemOption5 {
    font-size: 4.5vw !important;
    margin-bottom: 5vh !important;
  }
}
@media (max-width: 450px) {
  #menuItemOption1 {
    font-size: 11vw !important;
    margin-bottom: 4vh !important;
  }
  #menuItemOption2 {
    font-size: 11vw !important;
    margin-bottom: 4vh !important;
  }
  #menuItemOption3 {
    font-size: 11vw !important;
    margin-bottom: 4vh !important;
  }
  #menuItemOption4 {
    font-size: 11vw !important;
    margin-bottom: 4vh !important;
  }
  #menuItemOption5 {
    font-size: 11vw !important;
    margin-bottom: 4vh !important;
  }
}
/*animation start*/
#menuItemOption1 {
  animation-name: menuItemStart;
  animation-duration: 1.2s;
  font-family: "Work Sans", sans-serif;
  transition: transform 0.3s;
}
#menuItemOption1:hover {
  transform: scale(110%);
  cursor: pointer;
}
@media (max-width: 1024px) {
  #menuItemOption1:hover {
    transform: scale(100%);
  }
}
#menuItemOption1:active {
  transform: scale(98%);
}

#menuItemOption2 {
  animation-name: menuItemStart;
  animation-duration: 1.4s;
  font-family: "Work Sans", sans-serif;
  transition: transform 0.3s;
}
#menuItemOption2:hover {
  transform: scale(110%);
  cursor: pointer;
}
@media (max-width: 1024px) {
  #menuItemOption2:hover {
    transform: scale(100%);
  }
}
#menuItemOption2:active {
  transform: scale(98%);
}

#menuItemOption3 {
  animation-name: menuItemStart;
  animation-duration: 1.6s;
  font-family: "Work Sans", sans-serif;
  transition: transform 0.3s;
}
#menuItemOption3:hover {
  transform: scale(110%);
  cursor: pointer;
}
@media (max-width: 1024px) {
  #menuItemOption3:hover {
    transform: scale(100%);
  }
}
#menuItemOption3:active {
  transform: scale(98%);
}

#menuItemOption4 {
  animation-name: menuItemStart;
  animation-duration: 1.8s;
  font-family: "Work Sans", sans-serif;
  transition: transform 0.3s;
}
#menuItemOption4:hover {
  transform: scale(110%);
  cursor: pointer;
}
@media (max-width: 1024px) {
  #menuItemOption4:hover {
    transform: scale(100%);
  }
}
#menuItemOption4:active {
  transform: scale(98%);
}

#menuItemOption5 {
  animation-name: menuItemStart;
  animation-duration: 2s;
  font-family: "Work Sans", sans-serif;
  transition: transform 0.3s;
}
#menuItemOption5:hover {
  transform: scale(110%);
  cursor: pointer;
}
@media (max-width: 1024px) {
  #menuItemOption5:hover {
    transform: scale(100%);
  }
}
#menuItemOption5:active {
  transform: scale(98%);
}

@keyframes menuItemStart {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}
@keyframes backgroundStart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
/*animation end*/
.menuBackgroundEnd {
  animation-name: menuBackgroundEnd !important;
  animation-duration: 0.5s !important;
}

.menuItemOptionEnd {
  animation-name: menuItemOptionEnd !important;
  animation-duration: 0.4s !important;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes menuBackgroundEnd {
  100% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
@keyframes menuItemOptionEnd {
  0% {
    transform: translateY(0);
    opacity: 100;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}
footer {
  min-height: 30vh;
  background-color: rgb(27, 28, 32);
  padding: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#footerLogoContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#footerLogoContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
#footerLogoContainer div a {
  margin: 5%;
}
#footerLogoContainer::before, #footerLogoContainer::after {
  width: 35%;
  content: "";
  border-top: 1px solid #ffffff;
}

.footerLogo {
  height: 2vw;
  color: white;
  transition: color 0.05s, transform 0.05s;
}
.footerLogo:active {
  color: gray;
  transform: scale(95%);
}

.footerLines {
  border-top: solid 1px gray;
  height: 50px;
  width: 100%;
  position: absolute;
}

#footerCredits {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Work Sans", sans-serif;
  margin: 2%;
}
#footerCredits p:first-of-type {
  font-size: 1.5vw;
}
#footerCredits p:last-of-type {
  color: gray;
  font-size: smaller;
}
#footerCredits p a {
  color: rgb(144, 144, 144);
  text-decoration: none;
  transition: color 0.5s, transform 0.1s;
}
#footerCredits p a:hover {
  color: gray;
}
#footerCredits p a:active {
  display: inline-block;
  color: rgb(80, 80, 80);
  transform: scale(98%);
}

@media (max-width: 1000px) {
  #footerLogoContainer:before, #footerLogoContainer:after {
    width: 30%;
  }
  .footerLogo {
    height: 4vw;
  }
  #footerCredits p {
    text-align: center;
  }
  #footerCredits p:first-of-type {
    font-size: 2.5vw;
  }
}
@media (max-width: 550px) {
  #footerLogoContainer {
    margin: 5%;
  }
  #footerLogoContainer:before, #footerLogoContainer:after {
    width: 25%;
  }
  .footerLogo {
    height: 5vw;
  }
  #footerCredits {
    margin: 5%;
  }
  #footerCredits p:first-of-type {
    font-size: 5vw;
  }
  #footerSubPages {
    margin: 5%;
  }
}
@media (max-width: 400px) {
  #footerLogoContainer {
    margin: 10%;
  }
  #footerLogoContainer:before, #footerLogoContainer:after {
    width: 20%;
  }
  .footerLogo {
    height: 7vw;
  }
  #footerCredits {
    margin: 5%;
  }
  #footerCredits p:first-of-type {
    font-size: 6vw;
  }
  #footerSubPages {
    margin: 10%;
  }
}
#footerSubPages {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}
#footerSubPages .footerSubPageOption {
  color: #b8b8b8;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  margin: 1%;
  cursor: pointer;
  transition: color 0.1s, transform 0.1s;
}
#footerSubPages .footerSubPageOption:hover {
  color: rgb(214, 214, 214);
}
#footerSubPages .footerSubPageOption:active {
  color: rgb(100, 100, 100);
  transform: scale(98%);
}

* {
  margin: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

.disbleScrolling {
  height: 100%;
  overflow: hidden;
}

.invisible {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
