@import "sass/_headerMenu.scss";
@import "sass/_main.scss";
@import "sass/_contact.scss";
@import "sass/_menu.scss";
@import "sass/_footer.scss";
@import "sass/_obras.scss";

* {
    margin: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

.disbleScrolling {
    height: 100%;
    overflow: hidden;
}

.invisible {
    display: none;
}

// body {
//     background-color: rgb(71, 71, 71);
// }